<link rel="import"   href="/blog/components/polymer/polymer.html">



<polymer-element name="blog-link" attributes="link label description">
  <template>
	<style>
		a{
			font-weight: bold;
			color: #5B3F25;
		}
		a:link, a:visited, a:active, a:hover{
		  text-decoration: none;
		}
	
	</style>
	<p>    - <a target="_blank" href="{{link}}">{{label}}</a>{{description}}</p>
  </template>
  <script>
    Polymer();
  </script>
</polymer-element>



<polymer-element name="blog-links" attributes="categorie classStyle">
  <template>
	<style></style>
	<div class="{{classStyle}}"> 
	   <p><b>{{categorie}} : </b></p>
		<content></content>
	</div>
  </template>
  <script>
    Polymer({
      ready: function() {
        //...
      }
    });
  </script>
</polymer-element>

<polymer-element name="blog-tag" attributes="link tag nb">
  <template>
	<style>
		.tag,.tag a{
			font-weight: bold;
			color: #C8BCA7;
		}
		.tag a{
			color: black;
			text-decoration: none;
		}
	
	</style>
	<li class="tag"><a href="{{link}}">{{tag}}</a> ({{nb}})</li>
  </template>
  <script>
    Polymer();
  </script>
</polymer-element>


<polymer-element name="blog-tags" attributes="">
  <template>
	<style>
		.list-unstyled{padding-left:0;list-style:none}
	</style>
	<ol class="list-unstyled" style="margin-left: 0px">
		<content></content>
	</ol>
  </template>
  <script>
    Polymer();
  </script>
</polymer-element>

<polymer-element name="blog-exposition" attributes="link expo img styleImg" >
  <template>
	<link rel="stylesheet" href="/blog/components/bootstrap/dist/css/bootstrap.min.css">
	<style>
		
		.exp-name {
			text-decoration: none;
			color: black;
		}
		.card {
		  padding:1.5rem;
		  box-shadow:0 1px 2px #aaa;
		  background:white;
		  margin:0 1rem 1rem;
		  border-radius:3px;
		  user-select:none;
		  min-height:300px;
		  animation:fly-in-from-left .5s 1s ease both;
		  transform-origin:top left;
		}
		img{
			display: block;margin-left: auto;  margin-right: auto;
		}
		</style>
	<div class="col-lg-3 card">  
        
            <img src="{{img}}" style="{{styleImg}}" >  
            <div class="caption">  
              <h5 class="exp-name" >{{expo}}</h5>  
              <p></p>  
               <p hidden?="{{!link}}" style="display: block;margin-left: auto;  margin-right: auto;"><a target="_blank" href="{{link}}" class="btn btn-success">Voir</a></p>  
            </div>  
          
    </div>
  </template>
  <script>
    Polymer('blog-exposition',{});
  </script>
</polymer-element>	


<polymer-element name="blog-conference" attributes="link conference description date">
  <template>
	<style>
		strong{
			font-weight: bold;
			color: #C8BCA7;
		}
		.card {
		  padding:1.5rem;
		  box-shadow:0 1px 2px #aaa;
		  background:white;
		  margin:0 1rem 1rem;
		  border-radius:3px;
		  user-select:none;
		  animation:fly-in-from-left .5s 1s ease both;
		  transform-origin:top left;
		}
	
	</style>
	<div class="card"> 
		<p><a target="_blank" href="{{link}}">{{conference}}</a>{{description}}</p>
		<p><strong>{{date}}</strong></p>
	</div>
  </template>
  <script>
    Polymer();
  </script>
</polymer-element>


<polymer-element name="blog-projet" attributes="link label github logo">
  <template>
	<link rel="stylesheet" href="/blog/components/bootstrap/dist/css/bootstrap.min.css">
	<link href="/blog/components/fontawesome/css/font-awesome.css" rel="stylesheet">
	<style>

		a{
			font-weight: bold;
			color: #5B3F25;
		}
		a:link, a:visited, a:active, a:hover{
		  text-decoration: none;
		}
		.card {
		  padding:1.5rem;
		  box-shadow:0 1px 2px #aaa;
		  background:#d5d5d5;
		  margin:0 1rem 1rem;
		  border-radius:3px;
		  user-select:none;
		  min-height:300px;
		  animation:fly-in-from-left .5s 1s ease both;
		  transform-origin:top left;
		}
	
	</style>
	<div class="col-lg-3 card"> 
			<img src="{{logo}}" style=" max-width: 150px; max-height: 150px;display: block;margin-left: auto;  margin-right: auto;"/>
			<br/>
			<p><a target="_blank" style="text-align: center;" href="{{link}}"><i hidden?="{{!github}}" class="fa fa-github"></i>{{label}}</a></p>
			<br/>
			<content></content>
	</div>
  </template>
  <script>
    Polymer();
  </script>
</polymer-element>
