<link rel="import"   href="/blog/components/polymer/polymer.html">



<polymer-element name="blog-link" attributes="link label description">
  <template>
	<style>
		a{
			font-weight: bold;
			color: #5B3F25;
		}
		a:link, a:visited, a:active, a:hover{
		  text-decoration: none;
		}
	
	</style>
	<p>    - <a target="_blank" href="{{link}}">{{label}}</a>{{description}}</p>
  </template>
  <script>
    Polymer();
  </script>
</polymer-element>



<polymer-element name="blog-links" attributes="categorie classStyle">
  <template>
	<style></style>
	<div class="{{classStyle}}"> 
	   <p><b>{{categorie}} : </b></p>
		<content></content>
	</div>
  </template>
  <script>
    Polymer({
      ready: function() {
        //...
      }
    });
  </script>
</polymer-element>

<polymer-element name="blog-tag" attributes="link tag nb">
  <template>
	<style>
		.tag,.tag a{
			font-weight: bold;
			color: #C8BCA7;
		}
		.tag a{
			color: black;
			text-decoration: none;
		}
	
	</style>
	<li class="tag"><a href="{{link}}">{{tag}}</a> ({{nb}})</li>
  </template>
  <script>
    Polymer();
  </script>
</polymer-element>


<polymer-element name="blog-tags" attributes="">
  <template>
	<style>
		.list-unstyled{padding-left:0;list-style:none}
	</style>
	<ol class="list-unstyled" style="margin-left: 0px">
		<content></content>
	</ol>
  </template>
  <script>
    Polymer();
  </script>
</polymer-element>

<polymer-element name="blog-exposition" attributes="link expo img styleImg" >
  <template>
	<link rel="stylesheet" href="/blog/css/bootstrap.min.css">
	<style>
		
		.exp-name {
			text-decoration: none;
			color: black;
		}
		</style>
	<div class="col-lg-4">  
          <div class="thumbnail">  
            <img src="{{img}}" style="{{styleImg}}" >  
            <div class="caption">  
              <h5 class="exp-name" >{{expo}}</h5>  
              <p></p>  
               <p hidden?="{{!link}}"><a target="_blank" href="{{link}}" class="btn btn-success">Voir</a></p>  
            </div>  
          </div>  
    </div>
  </template>
  <script>
    Polymer('blog-exposition',{});
  </script>
</polymer-element>	


<polymer-element name="blog-conference" attributes="link conference description date">
  <template>
	<style>
		strong{
			font-weight: bold;
			color: #C8BCA7;
		}
	
	</style>
		<p><a target="_blank" href="{{link}}">{{conference}}</a>{{description}}</p>
		<p><strong>{{date}}</strong></p>
  </template>
  <script>
    Polymer();
  </script>
</polymer-element>
